#logo {
	background-color: white;
	font-size: 60px;
	color: #F05F40;
	font-family: 'Euphoria Script', cursive;

}

nav {
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	font-family: 'Francois One', sans-serif;
	color: black;
}

h3 {
	font-family: 'Euphoria Script', cursive;
	color: #F05F40;
}


.sidebar {
	padding-left: 35px;
	padding-bottom: 57px;

}

.section-heading {
	font-size: 15px;
	text-align: center;
	padding-right: 30px;

}

#linked-img {
	margin-right: 10px;
}

#stack-img {
	margin-right: 10px;
	margin-bottom: 4px;
}

#github-img {
	margin-left: -10px;
	margin-bottom: 4px;
}


.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(240, 95, 64, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category .main-section .sidebar {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name .main-section .sidebar {
    font-size: 22px;
  }
  
